
*,*::after,*
::before{
    margin: 0; padding: 0; box-sizing: border-box
}
body{
    font-family: 'Roboto', sans-serif ;
    font-synthesis: none;
    text-rendering: optimizeLegibility;

    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    position: relative;
    
    /* color-scheme: light; */
}
.container{
  background: var(--bg-color);
  margin: 0% 15%;
}
.section__padding{
  padding: 0rem 6rem;
}
.section__margin{
  margin: 1rem 2rem;
}
.background__text{
  color: #fff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}