:root {

  --font-family: 'Roboto', sans-serif;
  --text-color: #0A1929;
  --bg-color: #E7EBF0;

  --tr-color: #F5F5F5;
  --gradiant-text: linear-gradient(90deg, rgb(20, 10, 65) 0%, rgb(255, 10, 133) 17%, rgba(0,227, 237, 1) 100%);





  /* --font-family: 'Roboto', sans-serif;
  --text-color: #0A1929;
  --bg-color: #E7EBF0;

  --tr-color: #F5F5F5;
  --gradiant-text: linear-gradient(90deg, rgb(20, 10, 65) 0%, rgb(255, 10, 133) 77%, rgba(0, 227, 237, 1) 100%);
   */
}



